{{ define "main" }}
<main aria-role="main">
  <div>
    <h1>{{ .Site.Title }}</h1>

    {{- with .Site.Params.homeSubtitle }}
    <p>{{.}}</p>
    {{- end }}

    <p>
      Response Ready Inc. is a Winnipeg; Mb. based emergency training
      organization that provides quality emergency care instruction, First Aid,
      CPR/AED, and hemorrhage control training, in both English and French. We
      service personal, corporate, and industrial workplace settings. Courses
      offered are through the Heart and Stroke Foundation of Canada
      (https://www.heartandstroke.ca).
    </p>

    <p>
      Our focus is to use the foundation of Heart and Stroke Canada to tailor
      our programs to meet your personal, or organization’s needs. Founded by
      Steve Brglez and André Lacroix, both practicing Advanced Care Paramedics,
      Response Ready Inc. offers 24 years of combined knowledge and experience
      in order to help you become an important link in the chain of emergency
      first response.
    </p>

    Let Us Make You…RESPONSE READY !

    {{- with .Site.Params.social }}
    <div>
      {{ partial "social-icons.html" . }}
    </div>
    {{- end }}
  </div>
</main>
{{ end }}
